<div class="container">
    <!-- <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/1.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/2.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/3.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/4.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/5.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/6.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/7.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/8.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/9.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/10.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/11.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/12.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/13.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/14.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/15.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/16.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/17.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/18.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/19.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/20.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/21.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/22.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/23.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/24.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/25.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/26.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/27.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/28.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/29.jpg"></app-image-box>
    <app-image-box title="Aldi Süd Catalog" date="5 Sep 2022 -  10 Sep 2022" img="https://static01.eu/1prospekte.de/images/uploads/folder/87858/30.jpg"></app-image-box> -->
    <span *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: p }">
        <app-image-box [title]="item.title" [date]="item.date" img="../../assets/img1.png"></app-image-box>
    </span>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>