.footer {
  background: #522991;
  color: #fff;
  padding: 24px 0;
  font-size: 15px;
  height: 100px;
  justify-content: center;
  display: flex;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
